html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* --- Full landing page */ 

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/2812697/pexels-photo-2812697.jpeg) no-repeat 50% 50% ;
    display: table;
    background-size: cover;
    top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    text-align: center;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    text-shadow: 0px 0px 300px #000; 
}


#btn-down-left {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    text-shadow: 0px 0px 300px #000; 
    text-align: left;
    width: 90px;
    vertical-align: bottom;
}

.btn {
    border: solid 3px;
    border-radius: 9px;
    color: #fafafa; 
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size:100%; 
    padding: 5px 9px;
}

.btn:hover {
    color: #91C8E8;
    border: solid 3px;
}

/* -- NAV --*/


.navDefault {
    border: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: transparent;
}

button {
    border: solid 3px;
    height: 40px;
    width: 160px;
    color: #fff;
    background-color:#99968A;
    border-radius: 9px;
}

.iten{
    list-style:none;
}


.dropdownMenu {
    position: absolute;
    border-radius: 9px;
    margin:0;
    left:0;
    top: 40px;
    right:0;
    width:150px;
    z-index: -1;
    padding: 5px;
    color: #fafafa;
    transform: translateY(-100%);
    transition: transform .5s easy-in-out;
}
    


.listing {
    text-decoration: none;
    display:block;
    padding:5px;
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    background-color:#99968A;
    border-radius: 9px;
    text-align:center;

}

.listing:hover {
    color: #91C8E8;
    border: solid 3px;
    border-radius: 9px;
    width:150px;
}


button:hover {
    color: #91C8E8;
    border: solid 3px;}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);
}


/* --------------- SECTION ------------------------------*/

#landing-two  {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/273786/pexels-photo-273786.jpeg)no-repeat 50% 50%;
    display: table;
    background-size: cover;
    top: 0;
    
}


#landing-three{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg)no-repeat 50% 50%;
    display: table;
    background-size: cover;
    top: 0;
}

#landing-four{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg)no-repeat 50% 50%;
    display: table;
    background-size: cover;
    top: 0;
}


/* --------------- FOOTER ------------------------------*/

 #soft-landing{
     padding: 50px;
     background-color: #FFECAA;
 }
 
 
.cvc {
    text-decoration: none;
}


.icon-list-link{
    list-style:none;}