header section {
    margin:0;
}

/*----------------- landing page ------------------*/

    


.callout-container {
  height: 100vh;
  background: url("https://images.pexels.com/photos/2812697/pexels-photo-2812697.jpeg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content:center;
}


.jumbotron {
    background-color: rgba(0,0,0,0.25);
    margin-top: 3.5em;
    margin-bottom: 0.5rem;
    padding: 0px;
}
    
.jumbotron-header {
    color: #fafafa;
    margin-bottom: 15px;
    margin-left:0;
    font-size: 86px;
}

.navbar-nav {
    color:#fafafa;
}

.vocation {
    color: #fafafa;
    font-size: 18px;
    
}
/*----------------- navbar ------------------*/

.navalert-container {
    position:absolute;
    top:0;
    left:0;
    padding-left:0;
    padding-right:0;
}

.navbar {
    margin-bottom:0;
    border:0;
    width:100%;
    background: rgba(0,0,0,0.15);
}

.navbar .navbar-toggler {
    border: solid 2px;
    border-color:#fafafa;
    
}

.collapse .navbar-collapse {
    border: solid 2px;
    border-color:#fafafa;
}


/*----------------- About and Skils page ------------------*/

.capslock {
    text-align: justify;
}


.font-pack-about {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 100;
    font-family: "Raleway", sans-serif;
    padding-top: 15px;
}  

.logo_a {
    background: url("../assets/images/cassette-cassette-tape-music-92083.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 760px;
    transition: all .5s ease-in-out;
    -moz-transition: all, 0.5s, ease-in-out;
    -webkit-transition: all,0.5s, ease-in-out;
}



.center {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0,0,0,.25);
    
}

.font-pack{
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.skillBox {
     box-sizing: border-box;
     width: 100%;
     margin:20px 0;
     padding-right: 12px;
}

.skillBox p {
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 0 10px;
    padding: 0;
}

.skillBox p:nth-child(2){
    float: right;
    position: relative;
    top:-35px;
 
}
  
.skill {
    background:#fafafa;
    padding: 4px;
    padding-left:4px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 3px;
}

.skill-level {
    background:#757C82;
    width: 100%;
    height: 10px;
    border-radius:2px;
}

/*----------------- contact page ------------------*/

.logo {
    background: url("https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 760px;
    transition: all .5s ease-in-out;
    -moz-transition: all, 0.5s, ease-in-out;
    -webkit-transition: all,0.5s, ease-in-out;
}

.bg-color-contact {
    background-color: #d9e3da;
    box-sizing: border-box;
    border-radius: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    padding-bottom: 14em;
}

.contact-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin-top: 5em;
    margin-bottom: 2em;
}

.center-form {
    padding-top:10px;
    margin: 0 auto;
    max-width: 75%
}

.form-control{
    margin-top: 2px;
    
}   

.input {
    padding-top: 1em;
}


button[type="submit"] {
    margin-top: 1.5em;
    margin-bottom: 14em;
    width: 50%;
    color: #fafafa;
    background-color: #E8767B;
}

/*--- modal form --*/

.modal-body {
    font-size: 1.15em;
    text-align: justify;
}

.icon-size a {
     font-size:36px;
 }
/*----------------- foooter------------------*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 130px;
}

.inline-block {
    display: inline-block;
}

.cv-pdf i {
    font-size: 28px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all, 0.5s, ease-in-out;
    -webkit-transition: all,0.5s, ease-in-out;
    -o-webkit-transition: all,0.5s, ease-in-out;
}

.cv-pdf i:hover {
    color:#E8767B;
}
    
.social-links li a i{
    width: 64px;
    height: 64px;
    padding-bottom: 12px 0;
    color: #fafafa;
    font-size: 28px;
    transition: all .5s ease-in-out;
    -moz-transition: all, 0.5s, ease-in-out;
    -webkit-transition: all,0.5s, ease-in-out;
    -o-webkit-transition: all,0.5s, ease-in-out;
}

.social-links li a i:hover {
    color:#E8767B;
}

#footer-details {
    padding: 29px; 
}

/*----------------- @MEDIA QUERIES -------------*/
@media (max-width: 768px) {
    #mobile-hide {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 768px) {
    .font-pack-about {
        letter-spacing: 0.25px;
    }
    .icon-size a i{
     font-size:36px;
     text-align: center;
}
}
